
[package]
name = "textminer"
version = "0.1.0"
authors = ["SIPU <ddasik00@naver.com>"]
edition = "2018"

[profile.release]
opt-level = 'z'
lto=true
codegen-units=1

[dependencies]
tokio = { version = "1.44.2", features = ["full"] }
time = "0.3.41"
chrono =  { version = "0.4.41", default-features = false, features = ["clock", "std"] } 
chrono-tz = "0.10.3"
serde = "1.0.219"
serde_json = "1.0.140"
serde_derive = "1.0.219"
derive_more = { version = "2", features = ["full"] }
reqwest = { version = "0.12.15", features = ["blocking", "socks", "json"] }
scraper = "0.23.1"
anyhow = "1.0.98"
bytes = "1.10.1"
regex = "1.11.1"
winapi="0.3.9"
urlencoding = "2.1.3"
url ="2.5.4"
