
[package]
name = "textminer"
version = "0.1.0"
authors = ["SIPU <ddasik00@naver.com>"]
edition = "2018"

[profile.release]
opt-level = 'z'
lto=true
codegen-units=1

[dependencies]
tokio = { version = "1.48.0", features = ["full"] }
time = "0.3.44"
chrono =  { version = "0.4.42", default-features = false, features = ["clock", "std"] } 
chrono-tz = "0.10.4"
serde = "1.0.228"
serde_json = "1.0.145"
serde_derive = "1.0.228"
derive_more = { version = "2.0.1", features = ["full"] }
reqwest = { version = "0.12.24", features = ["blocking", "socks", "json"] }
scraper = "0.24.0"
anyhow = "1.0.100"
bytes = "1.10.1"
regex = "1.12.2"
winapi="0.3.9"
urlencoding = "2.1.3"
url ="2.5.7"
