
[package]
name = "textminer"
version = "1.2.0"
authors = ["SIPU <ddasik00@naver.com>"]
edition = "2024"

[profile.release]
opt-level = 'z'
lto=true
codegen-units=1

[dependencies]
tokio = { version = "1.49.0", features = ["full"] }
time = "0.3.47"
chrono =  { version = "0.4.43", default-features = false, features = ["clock", "std"] } 
chrono-tz = "0.10.4"
serde = "1.0.228"
serde_json = "1.0.149"
serde_derive = "1.0.228"
derive_more = { version = "2.0.1", features = ["full"] }
reqwest = { version = "0.13.1", features = ["blocking", "socks", "json"] }
scraper = "0.25.0"
anyhow = "1.0.100"
bytes = "1.11.1"
regex = "1.12.2"
url ="2.5.8"
thirtyfour = "0.36.1"
lazy_static = "1.5"
futures = "0.3.31"
